<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXXZuFeRBk16WhXWY7lNyu9Ea-wqxQZpU</string>
	<key>GCM_SENDER_ID</key>
	<string>739395300107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allianceprojecti.app</string>
	<key>PROJECT_ID</key>
	<string>un01-87edf</string>
	<key>STORAGE_BUCKET</key>
	<string>un01-87edf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739395300107:ios:af35062d2525f21890500e</string>
</dict>
</plist>